@tailwind base;
@tailwind components;
@tailwind utilities;\/* App.css */

.gradient-text {
  background: linear-gradient(to right, #00bcd4, #2196f3); /* Adjust gradient colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
